.drumkit {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100vh;
}

.pad {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    flex: 1 0 calc(25% - 20px);
    background: radial-gradient(#e18174, #d15736);
    border-radius: 10px;
}

.pad img {
    pointer-events: none;
}