body {
    margin: 0;
    font-family: Arial, sans-serif;
  }

  header {
    background-color: #333;
    padding: 10px;
    text-align: center;
  }

  nav {
    display: flex;
    justify-content: center;
  }

  .header_button{
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    background-color: #555;
  }

  nav a:hover {
    background-color: #777;
  }

  h1 {
    color: aqua;
  }

  img{
    width: 200px; /* Imposta la larghezza desiderata */
    height: 200px; /* Imposta l'altezza desiderata */
    object-fit: cover; /* Adatta l'immagine alla dimensione specificata senza deformarla */
    margin-left: 30px; /* Imposta lo spazio desiderato a sinistra dell'immagine */
    margin-right: 10px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: 50%; /* Sposta il dropdown a metà della larghezza del suo contenitore */
    transform: translateX(-50%); /* Centra il dropdown rispetto al suo centro */
  }
  
  
  .dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  
  .show {
    display: block;
  }

  .instrument_container{
    position: absolute;
    top: 20%;
    left: 10%;
    background-color: #282828;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    width: 70%;
    height: 50%;
    overflow: auto;
  }

  .close {
    position: absolute;
    top: 0px;
    left: 10px;
    font-size: 30px;
    cursor: pointer;
  }

  .instrument{
    padding: 15px;
    background-color: #8f9395;;
    color: #fff;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 8px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    display: flex;
    flex-direction: row-reverse;
    align-items: center
}

.instrument:hover {
    background-color: #4a545a;
    border-color: black;
}

.active_button{
  background-color: burlywood;
}

.active_button:hover {
  background-color: #dbad07;
  border-color: black;
}

.instrument_settings {
  position: relative;
  top: -85px;
  left: 25px;
  height: 50px;
}

.slider {
  width: 200px; /* Imposta la larghezza desiderata */
  height: 200px; /* Imposta l'altezza desiderata */
}

.m_button {
  position: relative;
  top: -90px;
  left: 40px;
}

.s_button {
  position: relative;
  top: -90px;
  left: 60px;
}

